<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">
    <title>Index</title>
</head>

<body>
    <div class="container">
        <h1>Features</h1>
        <ul id="ul-root">
            <li>
                <span>A. Parsing</span>
                <ul>
                    <li>Headers parsing</li>
                    <li>Query parameters</li>
                    <li>URL-encoded body</li>
                    <li>JSON body parsing</li>
                </ul>
            </li>
            <li>
                <span>B. HTTP Response </span>
                <ul>
                    <li>JSON Response (Based on Request Headers)</li>
                    <li>All types of static files Response</li>
                </ul>
            </li>
            <li>
                <span>C. Additional </span>
                <ul>
                    <li>Concurrency</li>
                    <li>No External Libraries</li>
                </ul>
            </li>
        </ul>

        <a id="visit" href="public.html">Click to Go file server</a>
    </div>
</body>

</html>