<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <style>
        body {
            background-color: #161719;
            color: #ecedee;
            margin: 0;
        }

        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 3rem;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>404| Not found</h1>
    </div>
</body>

</html>