<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Listing</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>FileServer</h1>
            <h2>Unlimited File Access</h2>
            <div class="breadcrumb">
                <span>🌐 Public </span> <span>/</span>
            </div>
        </header>

        <div class="file-list">
            <div class="file-header">
                <span class="name">Name</span>
                <span class="size">Size</span>
                <span class="modified">Modified</span>
            </div>
            <div id="file-container"></div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>