* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #161719;
    color: #ecedee;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
}

header {
    h1 {
        font-size: 24px;
        font-weight: bold;
        /* color: #ff0099; */
        color: #33ef33;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    h2 {
        font-size: 14px;
        color: #c1c7c1;
        margin-top: 5px;
    }

    .breadcrumb {
        font-size: 16px;
        color: #ecedee;
        margin: 20px 0;
    }
}

.file-list {
    background-color: #202425;
    border-radius: 12px;
    overflow: hidden;

    .file-header,
    .file-item {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
    }

    .file-header {
        font-weight: bold;
        background-color: #202425;
        color: #ddd;
    }

    .file-item {
        align-items: center;

        &:hover {
            background-color: #444;
        }
    }

    .name {
        flex: 3;
        display: flex;
        align-items: center;
    }

    .size,
    .modified {
        flex: 1;
        text-align: center;
        color: #bbb;
    }

}